body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: #6c757d;
  color: #ffffff;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

#currentDay {
  font-size: 1.5rem;
}

.time-block {
  margin-bottom: 1rem;
}

.hour {
  font-weight: bold;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.description {
  resize: none;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.saveBtn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.saveBtn:hover {
  background-color: #0069d9;
}

.saveBtn:focus {
  outline: none;
  box-shadow: none;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ffdd57;
}

.future {
  background-color: #81c784;
}

@media (max-width: 767.98px) {
  .hour {
    font-size: 14px;
  }
}
